<!DOCTYPE html>
<html lang="en">

        <!-- Top footer bar (fixed) -->
    <footer id="footer-bar">

      <span >@The footer is too empty, let's write something here, and some icons</span>

      <i class="fab fa-twitter"></i>
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-snapchat-ghost"></i>
      <i class="fab fa-linkedin-in"></i>
      <i class="fab fa-pinterest"></i>

    </footer>
