<!DOCTYPE html>
<html lang="en">

        <!-- Top nav bar (fixed) -->
    <nav id="nav-bar">
      <img class="logo" src="/images/logo.png">
      <span class="header fixed">Schoodle</span>
      <a id="contact" href="/contact"><i class="fas fa-paper-plane"></i> Contact us </a>
      <span id="signin" href="#"><i class="fas fa-user-plus"></i> Sign in </span>
    </nav>

