<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>

    <script type="text/javascript" src="/scripts/app.js"></script>


  </head>

  <body>
    <h1>Welcome to Schoodle</h1>




    <div class="container">
      <form method = "POST" action="/events/<%= url %>/<%= id[0].id %>/dates">
        <h3>Bootstrap Multi Select Date Picker</h3>
        pick the date
        <input type="text" class="form-control date" name = <%= id[0].id %> placeholder="Pick the date">
      <button type="submit" class="btn btn-primary">Back</button>
      <button type="submit" class="btn btn-primary">continue</button>
     </form>

    </div>




  </body>
</html>
