<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>

    <script type="text/javascript" src="/scripts/app.js"></script>


  </head>

  <body>
    <h1>Welcome to Schoodle</h1>
    <a href="/newevent" class="next">Schedule an event</a>

    <div class="container">
      <h3>Bootstrap Multi Select Date Picker</h3>
      <input type="text" class="form-control date" placeholder="Pick the multiple dates">
    </div>

  </body>
</html>
