<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Welcome to Schoodle</h1>
    <h2>What’s the occasion?</h2>
      <form action="/newevent" method="POST">
        <h3> Title </h3>
        <input class="form-control" type="text" name="title" style="width: 300px">
        <h3> Description (optional) </h3>
        <input class="form-control" type="text" name="description" style="width: 300px">
        <h3> Location (optional) </h3>
        <input class="form-control" type="text" name="location" style="width: 300px">
        <h3> Your name </h3>
        <input class="form-control" type="text" name="name" style="width: 300px">
        <h3> Your E-mail address </h3>
        <input class="form-control" type="text" name="email" style="width: 300px">
        <button type="submit" class="btn btn-primary">Create Event</button>
      </form>
  </body>
</html>
