<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/voteTest.js"></script>
  </head>

  <body>
  <input id="viewingUser" type="hidden" class="<%=viewingUser%>">
  <input id="eventSerial" type="hidden" class="<%=targetEvent%>">


  <h1>Schoodle event</h1>
  <h2>Event Title</h2>
  <div class="title"></div>
  <br>
  <h2>Description:</h2>
  <div class="description"></div>
  <br>
  <h2>Where:</h2>
  <div class="location"></div>
  <br>
  <hr>
  <br>
  <div class="voteBox"></div>

  </body>
</html>
