<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thank you</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/url.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <header>
      <% include ./partials/_nav %>
    </header>


    <h1>Thank you for using Schoodle</h1>
      <h4>Here is the url to share with your friends!</h4>
      <input id='myInput' class="form-control" type="text" value="http://localhost:8080/events/vote/<%= url%>">
      <button class="btn-primary" onclick="myFunction()"><i class="fas fa-copy"></i>Copy url </button>
      <a href="/events/vote/<%= url%>"><button class="vote btn-primary"><i class="fas fa-poll"></i>My event</button></a>


      <script>
        function myFunction() {
          var copyText = document.getElementById("myInput");
          copyText.select();
          document.execCommand("copy");
        }
        </script>

        <footer>
          <% include ./partials/_footer %>
        </footer>
  </body>
</html>
