h1 {
  margin-top:7%;
  font-weight:bold;
}

h4 {
  margin-bottom: 3%;
}

form {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.form-control{
  margin-bottom: 3%;
  width: 300px;
}
